test.cpp
test_suite/tests
tests
verify.sh
setup.sh
verify_results.txt
uspmv
uspmv_validate*
.vscode/
valgrind_output.txt
spmv_mkl_compare.txt
log.txt
code/scripts/results/

spmv_mkl_compare_sp.txt
spmv_mkl_compare_dp.txt
spmv_mkl_compare_mp.txt
spmv_bench.txt

*.o
*.gch
